.boat-container {
    margin: 3rem;
}

.boat-head h1{
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.f-s-btn {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.filter-btn button{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #eff4f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn img {
    width: 1.2rem;
    height: 1.2rem;
}

.filter-btn span {
    font-weight: 300;
    font-size: 0.9rem;
}