.shop-categories {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-align: center;
}

.categories-cards img {
  width: 5rem;
  height: auto;
}

.categories-cards p {
    font-size: 0.8rem;
    width: 7rem;
    font-weight: 600;
    line-height: 1.2;
}