.footer-c {
  margin: 1.5rem 0;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-p2a,
.footer-p2b {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 400;
}

.footer-p1 {
  font-size: 0.8rem;
  color: #1b1b1b;
  font-weight: 500;
}