* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Noto Sans", sans-serif; */
}

body {
  padding-top: 100px;
}

html, body {
  height: 100%;
  width: 100%;
}